/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Body Globals */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-image: url("/images/plates.png");
    background-size: 100vw, 100vh;
    margin: 0;
    padding: 0;
    color: white;
}

/* Header */
#header{
    height: 10vh;
    font-size: 2vh;
    color: white;
}

/* Form Container */
#ticket-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
    height: 80vh;
    background-color: rgba(0,0,0,.7);
}

/* Form */
#input-form {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    color: white;
    height: 60vh;
}

#userName{
    text-align: center;
    width: 15vw;
}

/* Order Container */
#order-wrapper{
    width: 20vw;
    height: 60vh;
    overflow: auto;
}

